<% include ../partials/header.ejs %>

<div class="container">
    <div class="text-right mt-5">
        <a class="btn btn-primary" href="/students/create" role="button">Create</a>
    </div>
  
    <div class="mt-5">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Class</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% var s_no =1; %>

                <% for (let i=0; i< data_result.length; i++) {%>
                
                  <tr>
                      <th scope="row"><%= s_no++ %></th>
                      <td><%= data_result[i]["name"] %></td>
                      <td><%= data_result[i]["email"] %></td>
                      <td><%= data_result[i]["gender"] %></td>
                      <td><%= data_result[i]["_class"] %></td>
                      <td class="text-center">
                        <a class="btn btn-warning btn-sm" href="/students/update/<%= data_result[i]['id'] %>" role="button">Update</a>
                        <form method="POST" class="pt-1" action="/students/delete/<%= data_result[i]['id'] %>" >
                          <input type="submit" value="Delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete?')" />


                        </form>
                      </td>
                    </tr>
                  <% }  %>  
            </tbody>
          </table>  
      </div>
    </div>
  
</div>
 

<% include ../partials/footer.ejs %>