<% include ../partials/header.ejs %>

<div class="container p-5">

    <div class="card">
        <div class="card-header">
            Update Student
        </div>

        <div class="p-5">
            <form method="POST" accept="/students/update/<%= student['id'] %>">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" value="<%= student['name'] %>" placeholder="John Wick">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="email" value="<%= student['email'] %>" placeholder="john.wick@gmail.com">
                </div>

                <div class="form-group">
                    <label for="sel1">Class</label>
                    <select class="form-control" name="_class" id="sel1" >

                        <%
                        var options = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ];
                        for ( var i = 0; i < options.length; i++ )
                        {
                            var selected = ( student['_class'] == options[ i ] ) ? "selected" : "";
                            %><option value="<%= options[ i ] %>" <%=selected %>><%= options[i] %></option><%
                        }
                        %>                        
                    </select>
                </div>

                <div class="radio">
                    <label><input type="radio" name="gender" value="Male" <%= student['gender'] == 'Male' ? "checked" : "" %>>Male</label>
                    <label><input type="radio" name="gender" value="Female" <%= student['gender'] == 'Female'  ? "checked" : ""%>>Female</label>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<% include ../partials/footer.ejs %>